ul,li{
  padding:0px;
  margin:0px;
}
.banner {
  height: 382px;
  width: 100%;
  position: relative;
}
.banner ul.ul_one {
  width: 100%;
  height: 382px;
  position: relative;
}
.banner ul.ul_one li {
  width: 100%;
  height: 382px;
  position: absolute;
  cursor:pointer;
  overflow: hidden;
}
.banner ul.ul_one li a{
  width: 1500px;
  height: 400px;
  text-align: center;
}
.banner ul.ul_one li img{
  width: 100%;
  height: 100%;
}

.banner ul.ul_two {
  position: absolute;
  bottom:30px;
  right:100px;
}
.banner ul.ul_two li{
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  font-size:16px;
  background: gray;
  float:left;
  color:white;
  margin:0 10px;
}

.clearfix:after{
  content:'';
  height:0px;
  clear:both;
  display:block;
  overflow:hidden;
}


.banner-left {
  width: 200px;
  height: 382px;
  position: absolute;
  top: 0;
  left: 132px;
}
.banner-left .banleft-top {
  width: 200px;
  height: 210px;
  overflow: hidden;
  background: url(../img/n_92.jpg) 0px -38px no-repeat;
}
.banner-left .banleft-bottom {
  width: 200px;
  height: 174px;
  background: url(../img/n_104.jpg) no-repeat top left;
}

.banleft-top a {
  display: inline-block;
  height: 90px;
  width: 90px;
  padding: 5px 3px;
}
.banleft-top a div {
  width: 90px;
  height: 90px;
}
.banleft-top a:hover .imgone {
  background: url(../img/n_99.jpg) no-repeat center;
}
.banleft-top a:hover .imgtwo {
  background: url(../img/n_101.jpg) no-repeat center;
}
.banleft-top a:hover .imgthree {
  background: url(../img/n_102.jpg) no-repeat center;
}
.banleft-top a:hover .imgfour {
  background: url(../img/wx_icon_hover.jpg) no-repeat center;
}

.imgone {
  background: url(../img/n_95.jpg) no-repeat center;
}

.imgtwo {
  background: url(../img/n_96.jpg) no-repeat center;
}

.imgthree {
  background: url(../img/n_97.jpg) no-repeat center;
}

.imgfour {
  background: url(../img/wx_icon.jpg) no-repeat center;
}

.banleft-bottom {
  height: 174px;
  padding-top: 10px;
  width: 200px;
}
.banleft-bottom dt {
  height: 135px;
  width: 185px;
  padding-left: 15px;
}
.banleft-bottom dd {
  width: 200px;
  text-align: center;
  padding-top: 5px;
}

.cont {
  height: 540px;
  padding: 10px 0 13px 0;
  width: 100%;
}
.cont .w {
  height: 540px;
}

.cont-left {
  width: 721px;
  height: 550px;
}
.cont-left .tvlive {
  width: 721px;
  height: 256px;
  padding-bottom: 10px;
  background: url(../img/n_63.jpg) no-repeat bottom;
}
.cont-left .hotshop {
  width: 721px;
  height: 271px;
}

.tvlive-top {
  width: 721px;
  height: 30px;
  background: url(../img/n_201411.jpg) no-repeat left;
}
.tvlive-top p {
  height: 30px;
  line-height: 30px;
}
.tvlive-top p a span img {
  padding-top: 7px;
}

.tvlive-bottom {
  height: 226px;
  width: 721px;
}
.tvlive-bottom .tvbt-left {
  width: 272px;
  height: 188px;
  padding-top: 29px;
  padding-right: 10px;
}
.tvtab{
  width: 430px;
  height: 217px;
}
.tvtab_top{
  width: 100%;
  height: 40px;
  line-height: 40px;
  color:gray;
}
.tvtab_top span{
  padding:2px 10px;
  cursor: pointer;
}
.tvtab_bottom{
  width: 100%;
  height: 180px;
  position: relative;
  overflow:hidden;
}

.tvtab_bottom>div{
  width: 385px;
  position: absolute;
  top:0px;
  left:18px;
  display: none;
  overflow:hidden;
}
.tvtab_bottom>div ul{
  width: 800px;
  position:relative;
  height: 180px;
  margin-left:7px;
}
.tvtab_bottom>div ul li{
  display: inline-block;
}
.tvtab_bottom>div ul li img{
  border:1px solid #ccc;
  width: 120px;
  height: 155px;
}
.tvtab_bottom>div ul li p{
  color:gray;
  height: 20px;
  line-height: 20px;
}
.tvtab_bottom>span{
  display:block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  color:red;
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  cursor:pointer;
}
span.to_left{
   top:40%;
   left:0px;
}
span.to_right{
  top:40%;
  left:415px;
}
.tvtab_top .active1{
  background:red;
  color:white;
  font-weight: bold;

}
.tvtab_bottom .active2{
  display:block;

}

.hotshop-top {
  width: 721px;
  height: 28px;
  background: url(../img/hot-title.jpg) no-repeat left;
}

.hotshop-bottom {
  padding-top: 10px;
  width: 721px;
  height: 233px;
}
.hotshop-bottom dl {
  border: 1px solid #CCCCCC;
  margin: 0 4px;
  width: 132px;
  height: 233px;
}
.hotshop-bottom dl dt {
  position: relative;
}
.hotshop-bottom dl dt span {
  position: absolute;
  top: 0;
  left: 0;
}
.hotshop-bottom dl dd {
  padding-top: 17px;
  width: 132px;
  height: 40px;
  text-align: center;
}
.hotshop-bottom dl dd span {
  color: #C9302C;
}

.cont-right {
  width: 264px;
  height: 550px;
}
.cont-right .newthing {
  width: 264px;
  height: 256px;
  margin-bottom: 10px;
  background: url(../img/n_88.jpg) no-repeat center;
}
.cont-right .newthing h3 {
  height: 40px;
  line-height: 40px;
  width: 264px;
  text-align: center;
  color: #ed4552;
}
.cont-right .newthing h3 span {
  color: #000000;
}
.cont-right .newact {
  width: 264px;
  height: 271px;
  background: url(../img/n_88-1.jpg) no-repeat top;
}
.cont-right .newact h3 {
  height: 40px;
  line-height: 40px;
  width: 264px;
  text-align: center;
  color: #ed4552;
}
.cont-right .newact h3 span {
  color: #000000;
}
.cont-right .newact .actban {
  height: 231px;
  width: 235px;
  overflow: hidden;
  margin-left: 14px;
  position: relative;
}

.willhid {
  padding: 0 12px;
  width: 240px;
  height: 27px;
  line-height: 27px;
}
.willhid p {
  width: 140px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.willhid span {
  color: #ED4552;
}

.willshow {
  width: 240px;
  padding: 14px 12px 0;
  height: 75px;
  display: none;
  background: url(../img/wtf-n_89.jpg) no-repeat top;
}
.willshow p {
  width: 140px;
  height: 20px;
  line-height: 20px;
  padding-bottom: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.willshow p strong {
  color: #ED4552;
  font-size: 20px;
}
.willshow strong {
  color: #ED4552;
}

.actban-big {
  position: absolute;
  width: 235px;
  height: 231px;
}
.actban-big li {
  width: 235px;
  height: 231px;
  text-align: center;
}

.actban-small {
  position: absolute;
  top: 200px;
  left: 155px;
}
.actban-small .turn {
  width: 20px;
  margin-left: 2px;
  height: 5px;
  background-color: #C0C0C0;
  opacity: 0.8;
  filter: alpha(opacity=80);
  border-radius: 2px;
}

.membercenter {
  width: 100%;
  height: 416px;
}
.membercenter .w {
  background-color: #f6e9d5;
  height: 416px;
}
.membercenter .w h2 {
  width: 996px;
  color: #ED4552;
  height: 33px;
  line-height: 33px;
  padding-left: 4px;
}
.membercenter .w h2 span {
  font-size: 12px;
  font-weight: 100;
  color: #000000;
  line-height: 25px;
}
.membercenter .w .memmid {
  height: 253px;
  width: 1000px;
  background: url(../img/n_201415.gif) no-repeat center;
}
.membercenter .w .membot {
  height: 130px;
  width: 1000px;
  background: url(../img/n_201416.jpg) no-repeat 10px center;
}

.memmid-left {
  height: 253px;
  width: 720px;
}
.memmid-left .memtabone {
  width: 202px;
  height: 200px;
  padding-top: 25px;
  padding-left: 20px;
}
.memmid-left .memtabtwo {
  width: 450px;
  height: 230px;
  padding-top: 15px;
  overflow: hidden;
}
.memmid-left .memtabtwo li {
  display: none;
  width: 470px;
  height: 230px;
}

.memtabone li {
  width: 60px;
  height: 60px;
  border: 2px solid #f8f4f2;
  margin-right: 2px;
}

.detail {
  width: 130px;
  height: 180px;
  padding-top: 35px;
}
.detail a {
  font-weight: bold;
  color: #0F0F0F;
}

.comment {
  height: 215px;
  width: 305px;
  position: relative;
  padding-left: 15px;
}
.comment dl {
  padding-top: 20px;
  width: 305px;
  height: 35px;
}
.comment dl dt {
  width: 35px;
  height: 35px;
}
.comment dl dd {
  width: 260px;
  height: 35px;
  position: relative;
}
.comment dl dd span {
  position: absolute;
  top: 15px;
  left: 120px;
  width: 60px;
  height: 12px;
  background: url(../img/redstar.jpg) repeat-x;
}
.comment p {
  height: 36px;
  width: 305px;
  line-height: 20px;
}
.comment .bor {
  width: 305px;
  height: 0px;
  border-top: 1px dashed #666666;
}
.comment .morecom {
  position: absolute;
  top: 180px;
  left: 185px;
}

.memmid-right {
  width: 220px;
  height: 180px;
  padding-top: 50px;
  padding-right: 30px;
}
.memmid-right h4 {
  color: #ED4552;
  width: 220px;
  text-align: center;
  height: 38px;
  line-height: 38px;
}

.updown {
  height: 140px;
  width: 220px;
  overflow: hidden;
}
.updown li {
  position: relative;
  height: 20px;
  padding-left: 5px;
  line-height: 20px;
}
.updown li span {
  position: absolute;
  left: 85px;
  top: 0;
}

.membot-left {
  height: 122px;
  width: 260px;
  padding-left: 90px;
  border-right: 1px dashed #CCCCCC;
}
.membot-left dt {
  width: 84px;
  height: 110px;
  border: 2px solid #CCCCCC;
}
.membot-left dd {
  width: 156px;
  height: 105px;
  padding-left: 9px;
}
.membot-left dd p {
  line-height: 23px;
}
.membot-left dd p b {
  color: #ED4552;
}
.membot-left dd span a img {
  padding-left: 40px;
  padding-top: 15px;
}

.membot-center {
  width: 210px;
  height: 122px;
  padding: 0 5px;
  border-right: 1px dashed #CCCCCC;
}
.membot-center h4 {
  width: 210px;
  height: 24px;
  line-height: 24px;
  border-bottom: 1px dashed #CCCCCC;
}
.membot-center li {
  line-height: 22px;
}

.membot-right {
  width: 408px;
  height: 120px;
}
.membot-right dl {
  width: 101px;
  text-align: center;
  height: 120px;
  border-right: 1px dashed #CCCCCC;
}
.membot-right dl dt img {
  padding-left: 28px;
}
.membot-right dl dd a {
  font-size: 12px;
  line-height: 19px;
  font-weight: bold;
}

.store {
  height: 854px;
  width: 100%;
  margin-top: 10px;
}
.store .w {
  height: 854px;
}
.store .w span {
  display: block;
  height: 33px;
  line-height: 33px;
  width: 785px;
  padding-left: 215px;
  border-top: 1px solid #000000;
  background: url(../img/n_201422.jpg) no-repeat left;
}
.store .w .store-bot {
  padding-top: 10px;
  height: 810px;
  padding-left: 10px;
  width: 990px;
  background: url(../img/n_44.jpg) repeat;
}

.stobot-top {
  width: 990px;
  height: 240px;
}

.storedetail {
  height: 240px;
  width: 600px;
}
.storedetail li {
  display: none;
}

.storename {
  width: 372px;
  padding-right: 10px;
  height: 240px;
}
.storename .stonahid {
  height: 42px;
  margin-top: 4px;
  line-height: 42px;
  text-align: center;
  width: 372px;
}

.stonashow {
  display: none;
  width: 377px;
  margin-right: 10px;
  text-align: left;
  height: 52px;
  line-height: 52px;
  border: 2px solid #e4e2e2;
  background: url(../img/n_111.jpg) no-repeat 0 #FFFFFF;
}
.stonashow a {
  padding-left: 25px;
  font-size: 16px;
  color: #f08389;
  font-weight: bold;
}

.stobot-bot {
  width: 990px;
  height: 550px;
}
.stobot-bot li {
  width: 320px;
  height: 172px;
  border: 1px solid #CCCCCC;
  margin-top: 9px;
  margin-right: 8px;
  position: relative;
}
.stobot-bot li p a {
  display: block;
  padding-top: 10px;
  width: 320px;
  height: 40px;
  color: #037fb3;
  text-align: center;
  line-height: 40px;
}
.stobot-bot li .lishadow {
  display: none;
  height: 176px;
  width: 324px;
  background-color: #000000;
  opacity: 0.5;
  filter: alpha(opacity=50);
  position: absolute;
  top: -1px;
  left: -1px;
}

.remind {
  height: 153px;
  margin: 10px auto;
  background: url(../img/n_13.jpg) no-repeat center;
}
.remind .remind-left {
  height: 140px;
  width: 265px;
  padding-left: 50px;
}
.remind .remind-left h3 {
  width: 265px;
  height: 35px;
  line-height: 45px;
}
.remind .remind-left ul {
  padding-left: 50px;
  height: 105px;
  width: 215px;
}

.remind-center {
  width: 400px;
  padding-left: 15px;
  height: 140px;
}
.remind-center h3 {
  width: 400px;
  height: 35px;
  line-height: 45px;
}
.remind-center h3 span {
  color: #ED4552;
}
.remind-center dl {
  width: 67px;
  height: 90px;
  padding-right: 10px;
}
.remind-center dl dt {
  width: 67px;
  height: 53px;
}
.remind-center dl dd a {
  display: block;
  width: 67px;
  text-align: center;
  height: 37px;
  line-height: 37px;
}

.remind-right {
  width: 224px;
  height: 87px;
  padding-right: 25px;
  padding-top: 30px;
}

/*# sourceMappingURL=main.css.map */
