

.cont{
	height:485px;
	border: 9px solid #e8e8e8;
	margin-top:40px;
	background: #FFFFFF;
}
.cont img{
	padding:30px;
}
.cont .right{
	width:342px;
	padding-left: 60px;
	height:460px;
	padding-top:30px;
}
.right .textp{
	width: 342px;
	height:44px;
	line-height: 12px;
}
form{
	width: 360px;
	height: 389px;
	position: relative;
}
form span{
	width: 17px;
	height:37px;
	background: url(../img/true.jpg) no-repeat left;
	display: none;
}
.one{
	width:340px;
	border:1px solid #CCCCCC;
	height: 37px;
	line-height: 37px;
}
.checktxt,.txtbtn{
	width:138px;
	border:1px solid #CCCCCC;
	height: 37px;
	line-height: 37px;	
}
.txtbtn{
	margin-left: 12px;
	cursor: pointer;
}
.phonenum,.checknum,.paswdone,.paswdtwo{
	width:342px;
	height: 30px;
	color: red;
}

.subbtn{
	width: 341px;
	height: 39px;
	border: 0;
	background: url(../img/submit.jpg) no-repeat center;
}
.regsuccess{
	display: none;
	position: absolute;
	top:150px;
	left:-210px;
	height: 50px;
	width: 200px;
	padding:30px;
	background-color: #B9DEF0;
}
.regsuccess p{
	text-align: center;
	line-height: 25px;
	font-size: 16px;
	width: 200px;
	color: red;
}



