.cont .p_title {
  height: 30px;
  line-height: 30px;
}
.cont .p_title img {
  display: inline-block;
  padding-top:8px;
  width: 12px;
  height: 13px;
  margin-right: 8px;
}
.cont-imgone{
	margin: 0 auto;
	padding-bottom: 80px;
}
.cont-imgtwo{
	margin: 0 auto;
	padding-bottom: 35px;
}
.pheader{
	padding-left: 20px;
	height: 30px;
  	line-height: 30px;
}
.pheader img{
	display: inline-block;
  	padding-top:8px;
  	width: 12px;
  	height: 13px;
  	margin-right: 8px;
}
table{
	margin-left: 20px;
	min-height: 123px;
	width: 948px;
	border: 1px solid #CCCCCC;
}
.trone{
	background-color: #f7f7f7;
	height: 40px;
	width: 948px;
	border-bottom: 1px solid #CCCCCC;
}
